.container
  .container-fluid
    %h1.tourtitle
      How our happy customers 
      %br
      manage payslips of their employees
    %p.tourtitledesc.centeralign Easy to use and simple payroll management, to help you manage a happier payroll.
    %hr
    .row-fluid.tourslide
      .span4
        = image_tag("features/payroll.png",:class=>"tourcustom")
      .span8
        %h4 All your payroll data at your fingertips.
        %p
          %i With a powerful intuitive user interface, managing your payroll becomes a breeze!
        %p You don't have to search through spreadsheets, and a document folder for your employee payslips again. Distribution of payslips with a click of a button. Means you save a lot of your time. 
        .slidelist
          %h5 
            %i.icon-ok
            Manage monthly payroll with ease.
          %h5 
            %i.icon-ok
            Automatically copy components from previous payrolls.
          %h5 
            %i.icon-ok
            View all historical payslips and payslip changes
          %h5 
            %i.icon-ok
            Send password protected payslips to employees.
    .row-fluid.tourslide
      .span8
        %h4 Manage employee data for your organization
        %p
          %i Simplify employee records.
        %p Imagine a holistic view of all your employees in various departments. And access these records online. And have employee document storage as attachments. Bliss! And many more features coming soon!
        .slidelist
          %h5 
            %i.icon-ok
            Simple interface for managing your employee data.
          %h5 
            %i.icon-ok
            Define custom employee record fields.
          %h5 
            %i.icon-ok
            Access data online, from anywhere with a web browser
      .span4
        = image_tag("features/employee_details.png",:class=>"tourcustom")
    .row-fluid.tourslide
      .span4
        = image_tag("features/payslip.png",:class=>"tourcustom")
      .span8
        %h4 Elegant employee payslips
        %p
          %i View and edit components and values in employee payslips.
        %p Edit employee payslips and approve them. We keep track of every change you make, so don't worry about what the previous values were.
        .slidelist
          %h5 
            %i.icon-ok
            Easy workflow of payslip component.
          %h5 
            %i.icon-ok
            Define custom payslip components, suitable for your payroll.
          %h5 
            %i.icon-ok
            Send individual payslips to employees as password protected PDFs.
    .row-fluid.tourslide
      .span8
        %h4 Store employee documents as attachments
        %p
          %i Save documents related to an employee as part of the employee records.
        %p Upload employee documents like previous company income sheet, scanned copy of ID proofs etc. 
        .slidelist
          %h5 
            %i.icon-ok
            Tag and upload employee documents
          %h5 
            %i.icon-ok
            View and download documents
      .span4
        = image_tag("features/documents.png",:class=>"tourcustom")
    .row-fluid.tourslide
      .span4
        = image_tag("features/settings.png",:class=>"tourcustom")
      .span8
        %h4 Simple settings that manage the application
        %p
          %i Change the way the application works from the settings menu.
        %p All new Settings menu will help you manage you company wide application settings and payroll settings
        .slidelist
          %h5 
            %i.icon-ok
            Manage common company settings
          %h5 
            %i.icon-ok
            Setup payroll components, suitable for your company.
          %h5 
            %i.icon-ok
            Add additional custom employee fields for employee record management.

    %hr.wideseparator
    .row-fluid#signupblock
      .span12
        %a.btn.btn-danger.btn-large{:href=>"/pricing"}
          .seetrial
            .seeplan
              %h4 See Plans and Pricing
            .trial
              %p
                14 day free trial. No credit card required